/*全局*/
html {
	height: 100% !important;
}
body {
	height: 100%;
/*	font-size: 16px;*/
	line-height: 28px;
	background-color: #ffffff;
	color: #777777;
	overflow-x: hidden;
}
a{
	font-weight: 600;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}
a:focus, a:hover {
	text-decoration: none;
	outline: 0;
}
img {
	max-width: 100%;
}
p, ul {
	margin-bottom: 30px;
}



/*header*/
.header-section.navbar-default {
	background-color:white;
    border-bottom-color: #eeeeee;
    border-top: 5px solid #0099cc;
}
.header-section{
	margin-bottom: 0;
    -webkit-transition: all ease 1.5s;
    transition: all ease 1.5s;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.container{
	position: relative;
}
.container>.navbar-header{
	margin-left: 3%;
}
/*#navigation{
	display: inline-block;
}*/
.navbar-logo{
	max-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0;
    padding-bottom: 0;
    white-space: nowrap;

}
.navbar-brand{
    height: 50px;
/*    padding: 15px 15px;*/
    font-size: 18px;
}

.navbar-nav.navbar-right:last-child, button.navbar-toggle{
    margin-right: 5%;
}
button.navbar-toggle{
	margin-top: 15px;
}
ul.navbar-nav.navbar-right{
	font-size: 16px;
}
.navbar-nav.navbar-right li{
	height: 60px;
	margin:0 0;
}
.navbar-nav.navbar-right li>a{
	padding-top: 20px;
	height: 60px;
}
/*内容*/
div.content{
	min-height: 500px;
/*	margin-bottom: 200px;
*/}

/*目录*/
div.col-md-3 ul.nav{
	padding: 0;
	margin-left: 15%;
	padding-top: 40px !important;
}
ul.nav li{
	margin: 0 10px 10px 0 ;
}
ul.nav li.active a.pill, li:hover a.pill {
    color: white!important;
    background-color: #0083BB !important;
    /*浅一点的色0099CC*/
}
li a.pill{
	background: transparent;
	color: #798D8D;
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 16px 10%;
    line-height: 100%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
div.panel-group{
	margin-top: 40px;
	margin-right: 10%;
}

/*footer*/

footer.footer{
	padding-bottom: 20px;
	border-bottom: 5px solid #0099cc;
}
div.col-md-4 div{
	text-align:center;
}
div.col-md-4 div a{
	color:#777;
}
